<% unless user_signed_in? %>
	redirect_to "login"
<% else %>
<%= render 'shared/header' %>
<p id="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
	<div class="userinfo">
		<img src="https://graph.facebook.com/<%= current_user.uid %>/picture?type=large" width=56px>
		<p>
		<%= current_user.name %>
		<%= link_to destroy_user_session_path, :method => :delete, data: { confirm: 'Are you sure?' } do %>
  			<i class="fas fa-sign-out-alt"></i>
		<% end %>
		</p>
	</div>
<%= render 'shared/list' %>

<% end %>