<p id="notice"><%= notice %></p>

<header>
  	<a href="<%= root_path %>" class="logotype"><span>BestWishes</span></a>
  <div class="nav-icon">
    <a href="<%= new_post_path %>"><i class="fas fa-paper-plane"></i></a>
    <a href="/users/<%= current_user.id %>"><i class="fas fa-user"></i></a>
    <a href="<%= projectors_path %>"><i class="fas fa-play-circle"></i></a>
  </div>
</header>