<div class="posts">
  <% @posts.each do |post| %>
    <div class="userdata">
      <img src="https://graph.facebook.com/<%= post.user.uid %>/picture?type=large" width=44px>
      <span><%= post.user.name %></span>
        <div class="edit">
        <tr>
          <th>
            <%= link_to edit_post_path(post) do %>
            <i class="fas fa-edit"></i>
            <% end %>
          </th>
          <th>
            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
            <% end %>
          </th>
          <th colspan="2"></th>
        </tr>
      </div>
    </div>

    <div class="wish">
    <% if post.image.present? %>
    <img src="<%= post.image %>" width=100%>
    <% end %>
      <p><%= post.text %></p>
    </div>

    <div class="kiritori"></div>
  <% end %>
</div>
