<div class="down"></div>

<%= render 'shared/header' %>
<!-- <p class="notice"><%= notice %></p> -->
<p class="alert"><%= alert %></p>

<div class="down"></div>

<%= render 'shared/list' %>

<div class="floating">
	<a href="<%= new_post_path %>"><i class="fas fa-paper-plane"></i></a>
</div>