<!DOCTYPE html>
<html>
	<head>
	  <title>Bestwishes</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>

		<header>
			<i class="fas fa-bars"></i>
		</header>
	<%= yield %>

	</body>
</html>